---
import Showcase from "./Showcase.astro";
import bangongshi from "./images/departments/bangongshi.png";
import xueshu from "./images/departments/xueshu2.png";
import saishi from "./images/departments/saishi.png";
import xiangmu from "./images/departments/xiangmu2.png";
import congyou from "./images/departments/congyou.png";
import yanchuang from "./images/departments/yanchuang.jpg";
---

<Showcase src={bangongshi} alt="科协办公室" placeText="right">
  <div>
    <h1>办公室</h1>
    <p>
      我们是未央科协内部的纽带，宣传报销、组织团建、统筹管理，都有我们的身影;
      我们是科协和同学间的桥梁，信息传达、合作共享、高效沟通，也是我们的使命。
    </p>
    <p>
      办公室的定位是一个科研科创资源与信息的节点，我们的工作主要分为两部分：对内组织科协例会团建，完善科协云盘管理，宣传科创学术活动，统筹科协财务报销；对外整合研创资源制作周报，与衔接院系合作承接赛事，共享科研信息资源。办公室也与科协其他各部门密切交流、通力合作，我们希望倾听、满足每一位同学在科研上的需求，营造浓厚的科研、科创氛围，讲好未央书院的科创故事！
    </p>
  </div>
</Showcase>
<Showcase src={xueshu} alt="科协学术部" placeText="left">
  <div>
    <h1>学术部</h1>
    <p>
      学术部，主持学术技能的部门。
      我们有技术过硬的团队，掌握并传承深度学习、git、matlab等各方面的技术；我们是学术技能的媒介，源源不断地把新时代超一流技术用“学术技能讲座”和“学术推送”等平白易懂的方式向未央书院搬运；我们是科协的技术担当，当科协出现科技上的任务，便是我们出手之时。这一年中，我们主要负责如下工作：
    </p>
    <p>
      MATLAB
      大讲座。我们将以往的“学术技能讲座”升级为同时结合课程与科研应用的系列讲座，针对学习科研中非常普遍的数值计算编程语言MATLAB推出系统而精致的讲座。
    </p>
    <p>
      您现在正在浏览的网站，正是我们建造并运营—— built from
      scratch。网页目前在初创阶段，不足良多；若有建议，欢迎联系我们！
    </p>
  </div>
</Showcase>
<Showcase src={saishi} alt="科协赛事部" placeText="right">
  <div>
    <h1>赛事部</h1>
    <p>
      未央书院科协赛事部主要负责各类赛事的策划、举办、承办。目前主要举办赛事包含：“未央城”科创比赛、“未央十二宫”挑战赛、与icenter合办工程认知与创新实践挑战赛等。
    </p>
    <p>
      “未央城”科创比赛基于亚信科技提供的真实工业场景数据集，选手们基于移动通信网络的多种特征信息，使用人工智能算法或其他方法建模，实现对用户的位置预测。“未央十二宫”挑战赛作为“未央书院工程导论”课程的补充，面向未央书院大一新生。同学们通过小组协作的形式，对某一工科细分领域展开文献调研，并通过课程汇报的形式展示调研结果。未央书院与iCenter联手打造的「工程认知与创新实践」课程面向未央书院所有院系专业学生，选课同学在课赛结合模式下，完成属于自己的科创作品。
    </p>
  </div>
</Showcase>
<Showcase src={xiangmu} alt="科协项目部" placeText="left">
  <div>
    <h1>项目部</h1>
    <p>
      未央科协项目部是连通未央科创与学校项目的桥梁，肩负着对内培养科创人才，对外输送优秀项目的使命，负责未央科创人才培养计划“北辰计划”的选拔与活动组织、面向大一新生的科创起步培训“北辰训练营”的筹办，并承担在“挑战杯”、“星火计划”、“学推计划”、“闯世界计划”等校级科创项目方面与学校进行对接的任务。
    </p>
    <p>
      我们目标是：让每一个有潜力的作品发光发热，为每一个有想法的学子保驾护航。
    </p>
  </div>
</Showcase>
<Showcase src={congyou} alt="科协从游部" placeText="right">
  <div>
    <h1>从游部</h1>
    <p>
      从游部源于书院的“从游”文化，是一个年轻且富有未央特色的部门。我们希望成为师生之间、朋辈之间的桥梁，引导同学们在交流中树立科研志趣、培养学术品味、享受从游文化。
    </p>
    <p>
      2022-2023学年中，我们举办了51场未央从游坊，提供与教授嘉宾面对面探讨学科前沿的机会；开展了2期“大鱼海谈”系列教师访谈活动，呈现“大鱼”们教学科研之外的另一面；举办了5期朋辈沙龙活动，打造与优秀朋辈相互交流的平台。
    </p>
    <p>
      本学期中，从游部致力打造更有深度的从游坊、更加多元的大鱼海谈、更加成熟的朋辈沙龙，做从游文化的传播者与践行者。
    </p>
  </div>
</Showcase>
<Showcase src={yanchuang} alt="研创中心" placeText="left">
  <div>
    <h1>&nbsp研创中心</h1>
    研创中心是未央科协自有的高水平科研科创兴趣团队孵化中心，2023 年建设的兴趣团队曾获得首都挑战杯特等奖、清华大学挑战杯特等奖、二等奖等奖项。研创中心于
    2024 年建设两支兴趣团队，分别是视听觉多模态融合兴趣团队和 RIOS 兴趣团队，目前队伍分别有
    5 人和 6 人，以未央书院学生为主。研创中心支持项目的方式包括但不限于研创中心提供的经验支持、赛事服务和日常监督，以及未央书院科协的经费支持。
  </div>
</Showcase>
